<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Selenium Test Page</display-name>

	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>fibonacci</servlet-name>
		<servlet-class>com.dzhao.exams.selenium.servlet.FibonacciServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fibonacci</servlet-name>
		<url-pattern>/fibonacci</url-pattern>
	</servlet-mapping>

</web-app>